<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/edit_profile.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>Editar Perfil</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <i class='bx bxs-cloud'></i>
            <span>Snap Cloud</span>
            <i class='bx bxs-cloud'></i>
        </div>
        <div class="navbar-search">
            <input type="text" placeholder="Pesquisar..." class="search-input">
            <button class="search-btn">
                <i class='bx bx-search'></i>
            </button>
        </div>
        <div class="navbar-menu">
            <button class="menu-btn">
                <i class='bx bx-menu'></i>
            </button>
            <ul class="menu-dropdown">
                <li><a href="{{url_for('edit_profile.edit_profile')}}">Sua conta</a></li>
                <li><a href="{{url_for('auth.logout')}}" id="logout-btn">Sair</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="img-box">
            <i class='bx bxs-user-circle'></i>
            <p class="created-date"><b><i>#CriadoEm: {{user["creation_date"] }}</i></b></p>
        </div>
        <div class="form-box">
            <h1>Editar Perfil</h1>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                {% if category == "erro" %}
                <div class = "flash-message-error"><p>{{ message }}</p></div>
                {% else %}
                <div class = "flash-message-success"><p>{{ message }}</p></div>
            {% endif %}
          {% endfor %}
          {% endwith %}
            </div>
            <form id="form-profile" action = "/edit_profile" method = "POST"> <!-- onsubmit="return salvarDados(event)"> -->
                <div class="input-box">
                    <label for="nome">Nome Completo:</label>
                    <div class="input-group">
                        <input type="text" id="nome" name="nome" value="{{ user['full_name'] }}" readonly>
                        <button type="button" class="edit-btn" onclick="habilitarEdicao('nome')">
                            <i class='bx bxs-edit'></i>
                        </button>
                    </div>
                </div>
                <div class="input-box">
                    <label for="usuario">Usuário:</label>
                    <div class="input-group">
                        <input type="text" id="usuario" name="usuario" value="{{ user['username'] }}" readonly>
                        <button type="button" class="edit-btn" onclick="habilitarEdicao('usuario')">
                            <i class='bx bxs-edit'></i>
                        </button>
                    </div>
                </div>
                <div class="input-box">
                    <label for="email">E-mail:</label>
                    <div class="input-group">
                        <input type="email" id="email" name="email" value="{{ user['email'] }}" readonly>
                        <button type="button" class="edit-btn" onclick="habilitarEdicao('email')">
                            <i class='bx bxs-edit'></i>
                        </button>
                    </div>
                </div>
                <div class="input-box s">
                    <label for="senha">Senha:</label>
                    <div class="input-group">
                        <input id="senha" name="senha" value="{{ session['hashed_password'] }}" readonly>
                        <button type="button" class="edit-btn" onclick="habilitarEdicao('senha')">
                            <i class='bx bxs-edit'></i>
                        </button>
                    </div>
                </div>
                <div class="input-box">
                    <label for="descricao">Descrição:</label>
                    <div class="input-group">
                        <textarea type="text" id="descricao" name="descricao" placeholder="Digite a sua descrição..." rows="3" readonly>{{ user['description'] }}</textarea>
                        <button type="button" class="edit-btn" onclick="habilitarEdicao('descricao')">
                            <i class='bx bxs-edit'></i>
                        </button>
                    </div>
                </div>
                <div class="button-group">
                    <!-- <button type="button" onclick="cancelarEdicao()">Cancelar</button> -->
                    <button type="button" name="action" value="cancelar">Cancelar</button>
                    <button type="submit" name="action" value="salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/edit_profile.js"></script>
</body>
</html>