<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>Registro no Snap Cloud</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <i class='bx bxs-cloud'></i>
            <span>Snap Cloud</span>
            <i class='bx bxs-cloud'></i>
        </div>
    </nav>
    <div class="container">
        <div class="img-box">
            <i class='bx bxs-user-circle' ></i>
        </div>
        <div class="form-box">
            <h1>Criar Conta</h1>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                {% if category == "erro" %}
                <div class = "flash-message-error"><p>{{ message }}</p></div>
                {% else %}
                <div class = "flash-message-success"><p>{{ message }}</p></div>
            {% endif %}
          {% endfor %}
          {% endwith %}
            </div>
            <form action="/register" method = "POST" enctype = "multipart/form-data" onsubmit="return validarFormulario(event)">
                <div class="input-box">
                    <label for="nome">Nome Completo:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="input-box">
                    <label for="usuario">Usuário:</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
                <div class="input-box">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-box s">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="input-box s">
                    <label for="confirmar_senha">Confirmar Senha:</label>
                    <input type="password" id="confirmar_senha" name="confirmar_senha" required>
                </div>
                <div class="input-box">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
            <div class="login">
                <p>Você já tem uma conta? <a href="{{url_for('auth.login')}}">Fazer login</a></p>
            </div>
        </div>
    </div>
    <script src="/static/js/register.js"></script>
    
</body>
</html>